* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
.background {
	height: 100vh;
	width: 100vw;
	background: url('images/background-img.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
    background-color: rgba(24, 112, 235, 0.8); /* Light blue with transparency */
    padding: 20px;
    text-align: center;
    position: relative;
}

.header h1 {
    font-size: 3em;
    color: #fff;
	text-align: left;
}

.header nav ul {
    list-style: none;
    padding: 0;
}

.header nav ul li {
    display: inline;
    margin: 0 25px;
    font-size: 1.2em;
    color: #fff;
}
.header nav ul li:hover{
	box-shadow: 2px red underline;
	font-size: 1.4em;
	color: black;
	font-weight: 700;
}

/* Main Content Styles */
.main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


.game-area {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.8); /* White with transparency */
    border-radius: 10px;
    padding: 20px;
    margin-right: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.bird {
	height: 100px;
	width: 130px;
	position: fixed;
	top: 40vh;
	left: 30vw;
	z-index: 100;
}
.best-score {
    position: center;
	margin-top:20px;
    z-index: 10;
    top: 10px;  
    right: 10px; 
    font-size: 5vh;
    font-weight: bold;
    color: rgb(240, 10, 10);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(53, 52, 52);
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0, 0, 0, 0.6); 
    padding: 10px 20px;
    border-radius: 8px;
}


.best_score_val {
    color: rgb(255, 191, 0);
}


.pipe_sprite {
	position: fixed;
	top: 40vh;
	left: 100vw;
	height: 70vh;
	width: 6vw;
	background:radial-gradient(lightgreen 50%, green);
	border: 5px solid black;
}
.message {
	position:absolute;
	z-index: 10;
	color: black;
	top: 30%;
	left: 50%;
	font-size: 4em;
	transform: translate(-50%, -50%);
	text-align: center;
	margin-top: 240px;
}
.messageStyle{
	background: white;
	padding: 30px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 5%;
}
.score {
	position: fixed;
	z-index: 10;
	height: 10vh;
	font-size: 10vh;
	font-weight: 100;
	color: white;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
	top: 0;
	left: 0;
	margin: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
.score_val {
	color: gold;
	font-weight: bold;
}
 

.sidebar {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.8); /* White with transparency */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.footer {
    text-align: center;
    padding: 20px;
	background-color: rgba(135, 206, 235, 0.8); /* Light blue with transparency */
    position: relative;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        margin-top: 20px;
    }

    .header h1 {
        font-size: 2.5em;
    }
	.header nav ul li {
        margin: 0 10px;
        font-size: 1em;
    }
}
@media only screen and (max-width: 1080px) {
    .message{
		font-size: 50px;
		top: 50%;
		white-space: nowrap;
	}
	.score{
		font-size: 8vh;
	}
	.bird{
		width: 120px;
		height: 90px;
	}
	.pipe_sprite{
		width: 14vw;
	}
}